/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
#pos_details_metabox .rwmb-label {
	width: 20%;
	text-align: right;
	padding: 0px;
	margin-right: 10px;
}